html,
body,
main {
    height: 100%;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
}

main {
    width: 50%;
    min-width: 480px;
    margin: auto;
    tab-size: 4;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
}

textarea:focus {
    outline: none;
}

#editor {
    height: 50%;
}

#output {
    height: 300px;
}

.CodeMirror,
textarea {
    border: 1px solid #ddd;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    line-height: 1.5;
}

.error {
    background-color: #fdd;
    padding: 0 4px;
    white-space: pre-wrap;
}

.github-corner svg {
    z-index: 1;
}
